*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: ubuntu;
}

html{
    background-color: #191919;
}


/* HEADER */
header{
    padding: 10px;
    /* background-color: rgba(0, 0, 0, 0.20
    ); */
    /* background-color: #7C36B8; */
    /* background-color: #5c0a7d; */
}

.header-cima{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 10px;
}

.header-cima img{
    width: 5rem;
}

.barra-pesquisa{
    align-items: center;
    padding: 7px;
    background-color: white;
    border-radius: 10px;
    border: #FFA800 solid ;
    margin-left: 6rem;
}

.barra-pesquisa input{
    width: 20vw;
    height: 3vh;
    border: none;
}

.barra-pesquisa i{
    color: #FC325B;
}



.header-btn{
    display: flex;
    gap: 1rem;
}

.header-btn a button{
    padding: 8px;
    border: #FFA800 solid 2px;
    border-radius: 10px;
    font-weight: 550;
    background-color: #5c0a7d00;
    color: white;
}

/*.header-btn a button:hover{
    transition: 0.7s;
    background: #FFA800;
    cursor: pointer;
}

.header-btn a:hover{
    transition: 0.9s;
    cursor: pointer;
}*/

.btn-cadastro{
    background-color: #FFA800;
    color: white;
    border-radius: 10px;
}

.btn-cadastro button:hover{
    transition: 0.7s;
    cursor: pointer;
    box-shadow: 0 0 20px #FC325B;
    background: #FC325B;
    border-color: #FC325B;
}


.catalogo{
    padding: 5px;
    display: flex;
    justify-content: space-around;
}

.catalogo nav ul{
    display: flex;
}

.catalogo nav ul li{
    margin: 0 5px;
}

.catalogo nav ul li a{
    color: white;
}




/* SECTION HERO */
.hero{
    padding: 0 10rem 10rem 10rem 10rem;
    background: rgb(95,33,149);
    background: radial-gradient(circle, rgba(95,33,149,1) 0%, rgba(45,15,70,1) 40%, rgba(30,10,47,1) 75%);
    height: 100vh;

    /* background: rgb(95,33,149);
    background: radial-gradient(circle, rgba(95,33,149,1) 0%, rgba(30,10,47,1) 100%); */
}


.content{
    
}


.hero-text{
    color: white;
    padding: 2rem;
    margin: auto 0;
}

.hero-text h1{
    margin-bottom: 1rem;
    font-size: 2rem;
}

.hero-text p{
    font-size: 1.4rem;
}

.color-news{
    color: #FFA800;
}